<launch>
    <node pkg="finger_math" type="num_finger.py" name="num_finger" output="screen" />
    <node pkg="finger_math" type="finger_redis.py" name="finger_redis" output="screen" />
    <!--node pkg="finger_math" type="reg_math.py" name="reg_math" output="screen" /-->
    <!--node pkg="ears" type="talker.py" name="ears_talker" output="screen" /-->
    <include file="$(find finger_math)/launch/pololu_example.launch" />
</launch>
