{% extends "base.html" %}
{% block title %}Waypoints{% endblock %}
{% block waypointsActive %}active{% endblock %}

{% block content %}
    <div class="chapterTitle">Waypoints</div>
    {% if waypoints is defined %}
        {% for wp in waypoints %}
                <div class="dottedListItem"><b>{{ wp.name }}</b>, x: {{ wp.x }}, y: {{ wp.y }}, theta: {{ wp.theta }}   <a href="./delete_waypoint/{{ wp.name  }}">delete</a></div>
        {% endfor %}
        <a href="./save_current_pose">Save current pose</a>
    {% else %}
        <b>Waypoint manager is currently offline.</b>
    {% endif %}
{% endblock %}