<launch>
  <node name="motor_pub" pkg="diagnostics" type="motor_pub.py">
  </node>
  <node name="laser_pub" pkg="diagnostics" type="laser_pub.py">
  </node>
  <node name="status_pub" pkg="diagnostics" type="status_pub.py">
  </node>
  <node name="diagnostics_node" pkg="diagnostics" type="diagnostics_node.py">
    <rosparam>
    </rosparam>
  </node>
</launch>
