<launch>

  <!-- start a turtlebot in gazebo -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" />

  <!-- start our blank map server -->
  <include file="blank_map_server.launch" />

  <!-- no localizer running, so this if fixed -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_transform_broadcaster" args="0 0 0 0 0 0 map odom 20" />

  <!-- move_base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>

</launch>
