<launch>

  <env name="ROS_IP" value="192.168.1.2" />
  <env name="ROS_HOSTNAME" value="192.168.1.2" />
  <env name="ROS_MASTER_URI" value="http://192.168.1.2:11311" />
  <env name="PYTHONPATH" value="/home/mcecsbot/src/roboticsclub-mcecsbot/src/ros/devel/lib/python2.7/dist-packages:/opt/ros/indigo/lib/python2.7/dist-packages" />

  <arg name="JEEVES_LAUNCH_DIR" value="/home/mcecsbot/src/roboticsclub-mcecsbot/src/ros/launch" />

  <!-- battery status -->
  <include file="$(arg JEEVES_LAUNCH_DIR)/battery_monitor.launch" />

  <!-- motor controllers -->
  <include file="$(arg JEEVES_LAUNCH_DIR)/roboteq_controllers.launch" />

  <!-- imu -->
<!--  <include file="$(arg JEEVES_LAUNCH_DIR)/imu.launch" /> -->

  <!-- laser scanner -->
  <include file="$(arg JEEVES_LAUNCH_DIR)/sick_lms_200.launch" />

  <!-- laser scan_matcher -->
  <include file="$(arg JEEVES_LAUNCH_DIR)/laser_scan_matcher.launch" />

  <!-- jeeves-specific stuff -->
  <node name="fused_base_odometry" pkg="base_control" type="fused_odometry_publisher_node.py" />
  <node name="joystick" pkg="joy" type="joy_node" />
  <node name="joy_controller" pkg="base_control" type="joy_controller_node.py" />
  <node name="base_control" pkg="base_control" type="base_control_node.py" />
  <node name="waypoint_manager" pkg="jeeves_2d_nav" type="waypoint_manager.py" />

  <!-- Nav stack -->
  <include file="$(arg JEEVES_LAUNCH_DIR)/map_server.launch" />
  <include file="$(arg JEEVES_LAUNCH_DIR)/amcl_diff.launch" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam>
      base_local_planner: dwa_local_planner/DWAPlannerROS
    </rosparam>
    <rosparam file="$(find jeeves_2d_nav)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jeeves_2d_nav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jeeves_2d_nav)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find jeeves_2d_nav)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find jeeves_2d_nav)/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find jeeves_2d_nav)/move_base_params.yaml" command="load" />
  </node>

</launch>
