<launch>
    <node pkg="roboteq_driver" type="driver_node" name="motor_controller_front" output="screen">
        <rosparam>
            port: /dev/motors_front
            baud: 115200
            channels: ["motor_1", "motor_4"]
        </rosparam>
    </node>
    <node pkg="roboteq_driver" type="driver_node" name="motor_controller_rear" output="screen">
        <rosparam>
            port: /dev/motors_rear
            baud: 115200
            channels: ["motor_2", "motor_3"]
        </rosparam>
    </node>
</launch>
