<!DOCTYPE html>
    
    {% load staticfiles %}
    
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6AQrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script-->
        <link rel="stylesheet" href="{% static "bootstrap-3.3.6-dist/css/bootstrap.min.css" %}"> 
        <style>
            #error{color:red;}
        </style>
        <script type="text/javascript" src="{% static "scripts/jquery-2.1.4.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap-3.3.6-dist/js/bootstrap.min.js" %}"></script> 
        <script type="text/javascript">
            var scanInterval = 2000;
            
            $(document).ready(function(){
               //setInterval(function(){ scan(); }, scanInterval);
               $("#read_qr").click(function(){
                   scan();
               });
            });

            $(document).on({
                ajaxStart: function() {$("#message").text("Hang on..."); },
                
            });
            $("#dashboard").click(function(){
               setInterval(function() { batt_status(); }, scanInterval);
            });
          
          
        function scan() {
            $("#message").text("Reading ...");
            $.ajax({
              method:"GET",
              url:"/MrJeevesApp/FindAndMatchQR",
              success:function(response){
                if ($("#error").is(":visible")) {
                    $("#error").empty().hide();
                }
                $("#message").text(response);
              },
              error:function(xhr, textStatus, errorThrown){
                $("#error").text(errorThrown);
                $("#message").empty();
              }
            }); 
        }
        function batt_status() {
            $.ajax({
              method:"GET",
              url:"/MrJeevesApp/GetBatteryStatus",
              success:function(response){
                if ($("#error").is(":visible")) {
                    $("#error").empty().hide();
                }
                $("#battstatus").text(response);
              },
              error:function(xhr, textStatus, errorThrown){
                $("#error").text(errorThrown);
                $("#battstatus").empty();
              } 
            });
        }
        
        
        
        </script>
    
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span id="error"></span>
                    <div class="page-header">
                    <h1><p class="text-center">J.E.E.V.E.S.</p>
	            <small><p class="text-center">At your service.</p></small></h1>
                    </div>
        	    <!--h3 id="message"></h3-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
			<button class="btn btn-primary btn-lg btn-block" type="button" id="get_info">GET INFO</button>
			<button class="btn btn-primary btn-lg btn-block" type="button" id="interact" data-toggle="modal" data-target=".interact-modal-lg">INTERACT</button>
			<button class="btn btn-primary btn-lg btn-block" type="button" id="tour" data-toggle="modal" data-target=".tour-modal-lg">TOUR</button>
                </div>
       		    <div class="col-md-8">
                   	<img class="center-block" src="http://192.168.1.2:8080/stream?topic=/camera/face" width="640">
                </div>
                <div class="col-md-2">
			<button class="btn btn-primary btn-lg btn-block" type="button" id="read_qr" data-toggle="modal" data-target=".qr-code-modal-lg">READ QR</button>
			<button class="btn btn-primary btn-lg btn-block disabled" type="button" id="dashboard" data-toggle="modal" data-target=".dashboard-modal-lg">DASHBOARD</button>
			<button class="btn btn-primary btn-lg btn-block" type="button" id="about_me" data-toggle="modal" data-target=".about-me-modal-lg">ABOUT ME</button>
	
                </div>
            </div>
        </div>
        <!-- INTERACT MODAL -->
        <div class="modal fade interact-modal-lg" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h1 class="modal-title">INTERACT</h1>
                     </div>
                     <div class="modal-body">
                         <div class="panel panel-default">
                             <div class="panel-heading">
                                 <h3 class="panel-title">CHAT</h3>
                             </div>
                             <div class="panel-body">
                                 <button class="btn btn-primary btn-lg btn-block" type="button" id="say">Click to say something</button>
                                 You said: 
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
        <!-- TOUR MODAL -->
        <div class="modal fade tour-modal-lg" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h1 class="modal-title">TOUR</h1>
                     </div>
                     <div class="modal-body">
                         <button class="btn btn-primary btn-lg btn-block" type="button" id="alltour">Give me the whole tour!</button>
                         <button class="btn btn-primary btn-lg btn-block" type="button" id="alltour">Intelligent Robotics Lab</button>
                         <button class="btn btn-primary btn-lg btn-block" type="button" id="alltour">Home/EB Basement Lounge</button>
                     </div>
                 </div>
            </div>
        </div>
        <!-- QR CODE MODAL -->
        <div class="modal fade qr-code-modal-lg" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h1 class="modal-title">READ QR</h1>
                     </div>
                     <div class="modal-body">
                         <h3 id="message"></h3>
                     </div>
                 </div>
            </div>
        </div>
        <!-- DASHBOARD MODAL -->
        <div class="modal fade dashboard-modal-lg" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h1 class="modal-title">DASHBOARD</h1>
                     </div>
                     <div class="modal-body">
                         <h3 id="battstatus"></h3>
                     </div>
                 </div>
            </div>
        </div>
        <!-- ABOUT ME MODAL -->
        <div class="modal fade about-me-modal-lg" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h1 class="modal-title">ABOUT ME</h1>
                     </div>
                     <div class="modal-body">
                         <p class="lead">Hello, I am Jeeves.</p>
                     </div>
                 </div>
            </div>
        </div>
    </body>
</html>
