<!DOCTYPE html>
    
    {% load staticfiles %}
    
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6AQrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script-->
        <link rel="stylesheet" href="{% static "bootstrap-3.3.6-dist/css/bootstrap.min.css" %}"> 
        <style>
            #error{color:red;}
        </style>
        <script type="text/javascript" src="{% static "scripts/jquery-2.1.4.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap-3.3.6-dist/js/bootstrap.min.js" %}"></script> 
        <script type="text/javascript">
            var scanInterval = 2000;
            
            $(document).ready(function(){
               setInterval(function(){ scan(); }, scanInterval);
    
            });
          
          
        function scan() {
            $.ajax({
              method:"GET",
              url:"/MrJeevesApp/FindAndMatchQR",
              success:function(response){
                if ($("#error").is(":visible")) {
                    $("#error").empty().hide();
                }
                $("#message").text(response);
              },
              error:function(xhr, textStatus, errorThrown){
                $("#error").text(errorThrown);
                $("#message").empty();
              }
            }); 
        }
        
        
        
        </script>
    
    </head>

    <body>

        <div><h4>scanning...</h4><span id="error"></span></div>
        <h3 id="message"></h3>
        
        <h3>Le Video</h3>
        <img src="http://192.168.1.2:8080/stream?topic=/camera/face" width="640">
    </body>
</html>
